@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url("https://use.typekit.net/qef3duw.css");

:root {
    --vertical-space: 2rem;
    --horiz-space: 2em;
    --darkest-green: #1C3D2E;
    --light-green: #8DD6B4;
    --medium-light-green: #519978;
    --light: #F2F2F2;
    --gray-bg: #E8EDED;
    --orange: #D65F4D;
    --light-orange: #ED9385;
    --clean-black: #0D0D0D;


}

body {
    font-size: 18px;
    line-height: 1.5em;
    background-color: var(--gray-bg);
    color: var(--clean-black);
    border: var(--light-orange) 10px solid;
    height: 100%;
    min-height: 100vh;

    font-family: futura-pt, sans-serif;

    font-weight: 400;

    font-style: italic;
    /* position: relative; */

}

h2,
h3 {
    font-family: houschka-pro, sans-serif;

    font-weight: 700;

    font-style: normal;
    line-height: 1.2em;
    color: var(--darkest-green);
    text-align: left;
}

h1 {
    line-height: 1.2em;
    font-family: houschka-pro, sans-serif;

    font-weight: 700;
    font-style: normal;
    color: var(--darkest-green);
    text-align: center;
}

a {
    color:
        var(--clean-black);
    text-decoration: var(--light-orange);
}

nav a {
    color: var(--medium-light-green);
}

a:hover {
    color: var(--light-orange);
}

body#about p {
    text-align: center;

}

body#about {
    text-align: center;
}

body#resume {
    text-align: left;
}

body#about img {
    border: var(--light-orange) solid 8px;
    max-width: 30%;
}



/* p {
    max-width: 50em;
    

} */

body {
    display: grid;
    grid-template-areas: "head head""nav main""foot foot";
    grid-template-columns: auto 5fr;
    grid-template-rows: auto 1fr auto;
}

body>nav {
    border-right: var(--light-orange) 4px solid;
    border-top: var(--light-orange) 4px solid;
}

@media screen and (min-width: 917px) {
    body {
        display: grid;
        grid-template-areas: "head head""nav nav""main main""foot foot";
        grid-template-columns: auto 4fr;
        grid-template-rows: auto auto 1fr auto;

    }

    body>nav {
        border-right: var(--light-orange) 0px solid;
        border-top: var(--light-orange) 0px solid;
    }

}

body>* {
    padding-left: var(--horiz-space);
    padding-right: var(--horiz-space);
}

body>header {
    grid-area: head;


}

body>nav {
    grid-area: nav;
    text-align: center;
    border-bottom: var(--light-orange) 4px solid;
}

body>nav ul {
    list-style-type: none;
    padding: 0;

}

body>nav ul li {

    padding-right: 1rem;
    display: inline;
    justify-content: space-evenly;

}

body>main {
    grid-area: main;
    background-color: #51997830;
}

body>footer {
    grid-area: foot;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
    text-align: center;
}

footer {
    background-color: #51997810;
}

header h1,
footer h1 {
    margin: 0;
}

header h1 {
    font-family: houschka-pro, sans-serif;

    font-weight: 700;
    color: var(--light-orange);
    font-style: normal;


}

/* body#resume ul#resumeItems{
    justify-content: left;
} */
body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 917px) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 80%;
}

body#portfolio ul#portfolioItems li p {
    max-width: 80%;
    /* text-align: center; */
    padding-left: 8.5%;
}

body#about p {
    font-size: 1.2em;

}